
  .moveclicked {
    transition: transform 1s ease;
    transform: translate(-91%, 0%);    
  }
  .move{
    transform: translate(0%, 0%);
    transition: transform 1s ease; 
}
.fle{

    align-items: center;
    width: 25%;
    /* position: relative; */
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: row;
}
.marg{
    padding: 2%;
    font-size: large;
    background-color: rgb(203, 203, 203);
    position: absolute;
    right: 2%;
}